@charset "utf-8";
/**
||	_defaults.css
||	Defaults / Base styles to testing template.
*/

html {
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 100%;
	font-size: 0.86em;

	font-weight: normal;

	letter-spacing: 0.1em;
	line-height: 1.5;

	height: 100%;
}

body {
	box-sizing: border-box;
	border-top: 1px solid #fff;
	min-height: 100%;
	margin-top: 0em;
	position: relative;
	width: 100%;
}


h1
{
	width: 100%;
	margin: 1ex auto;

	font-size: 1.4rem;
}

h6
{
	width: 100%;
	margin: 0.2em auto 0.5em auto;

	font-size:1.15em;
}

em
{
	font-weight: bold;
}

/*BLOCL: test-results*/
.test-results__container {
	min-height: 100%;
	margin-bottom: -6em;
	padding: 0.1px 2.5% 0% 2.5%;
}


.test-results__container::after {
		content: '';
		display: block;
		height: 6em;
		width: 100%;
}

footer {
	background-image: linear-gradient(left,#EEEEEE,#999999);
	bottom: 0;
	border-top: 2px solid #000000;
	border-top-right-radius: 5px;
	box-shadow: 1px -1px 2px 2px #DDDDDD;
	box-sizing: border-box;
	height: 6em;
	left: 0;
	padding: 0.5% 2.5% 0% 2.5%;
	position: absolute;

	width: 100%;

}

ul {
	min-width: 960px;
	width: 70%;
	margin: 1ex .5ex;
}

.test-result__test, .test-result__result {
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
}

.test-result__test {
	width: 75%;
}

.test-result__result {
	width: 25%;
}

.test-result__result--passed
{
	color: RGB(0,155,0);
}

.test-result__result--passed:after
{
	content: "\2714";
}

.test-result__result--failed
{
	color: RGB(155,0,0);
}

.test-result__result--failed:after
{
	content: "\2718";
}
